{% extends "FrontOfficeBundle::ArticleLayout.html.twig" %}

{% block title %}
  Creation article-{{ parent() }} 
{% endblock %}

{% block article_body %}
	<div class="container col-lg-6 col-lg-offset-3 text-center">
        <div class="col-sm-12 col-md-12 col-lg-12">
           <h1>Creer un article</h1>
                
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    
                            <div class="form-group">
                                {{ form_row(form.title,{'attr':{'class':'form-control','placeholder':'Your title'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.laeding,{'attr':{'class':'form-control','placeholder':'Your leading'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.body,{'attr':{'class':'form-control','placeholder':'Your body'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.createdBy,{'attr':{'class':'form-control','placeholder':'Your author'}}) }}
                            </div>
                        	<div class="form-group inline">
                                {{ form_row(form.save,{'attr':{'class':'btn btn-xl'}}) }}
                                <a href="#"><button class="btn btn-danger">Retour</button> </a>
                            </div>
                        
                {{ form_rest(form) }}
                {{ form_end(form) }}
                
           
        </div>
    </div>
    
  

{% endblock %}