{% extends "FrontOfficeBundle::ArticleLayout.html.twig" %}

{% block title %}
  Details article-{{ parent() }}
{% endblock %}

{% block article_body %}

  <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        	<div class="row">
        		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        			<h1>{{ article.title }}</h1>
        		</div>
        		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
        			<h3 style="margin-top:37px;">Par {{ article.createdBy }}</h3>
        		</div>
           		<p style="font-size:2em;">{{ article.body }}</p>
	   		</div>
	   		<div class="row" style="margin-top:50px;">
        		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        			<a href="{{ path('Liste_Articles') }}"><button class="btn btn-danger"> Retour</button></a>
        		</div>
        		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
        			<a href="{{ path('Ajout_article') }}"><button class="btn btn-success">Ajouter un article</button></a>
        		</div>
	   		</div>
        </div>
    </div>
{% endblock %}