{% extends "FrontOfficeBundle::ArticleLayout.html.twig" %}

{% block title %}
  Liste articles-{{ parent() }}
{% endblock %}

{% block article_body %}

	<div class="container col-lg-12 col-sm-12 col-md-12 text-center">
        <div class="col-lg-12 text-center">
           <h1 style="margin-bottom:34px;">Liste des articles</h1>
           		<div class="col-md-3"></div>	
	           	<div class="col-md-6 center">	
		           <table class="table table-striped">
		           		<thead class="thead-inverse">
		           			<tr>
		           				<th>Num</th>
		           				<th>Titre</th>
		           				<th>Description</th>
		           				<th>Auteur</th>
		           				<th>Action</th>
		           			</tr>
		           		</thead>
		           		<tbody>
		           			{% for article in articles %}
		           			<tr>
		           				<th scope="row">{{ article.id }}</th>
		           				<th scope="row">{{ article.title }}</th>
		           				<th scope="row">{{ article.body }}</th>
		           				<th scope="row">{{ article.createdBy }}</th>
		           				<th scope="row" class="inline col-lg-4 col-md-4 col-sm-4 col-xs-4"><a class="btn btn-primary col-lg-5 col-md-5 col-sm-5 col-xs-5" href="{{ path('Article', {'id':article.id}) }}">Details</a><a class="btn btn-danger col-lg-6 col-md-5 col-sm-4 col-xs-4" style="margin-left:5px;" id="{{ article.id }}" onclick=""supprimer({{ article.id }});"">Supprimer</a></th>
		           			</tr>
		           			{% endfor %}
		           		</tbody>
		           </table>
		        </div>
	          	<div class="col-md-6">
	          	</div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
	function supprimer(supid){
	$(function(){
	$("#sup_"+supid+"").click(function(){
		$.ajax({
		type:'GET',
		url:'http://localhost:8080/Extia/web/app_dev.php/supprimer'+supid,
		timeout: 3000,
		success: function(){
		console.log("article supprimé")},
		error:function(){
		alert('article nest pas supprimer');
		}
	});
});
});
}
</script>
{% endblock %}